/* animation for introduction letters*/

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(20px);
  animation: fadeInOut 1s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* animation for Case word */

.offset {
  display: inline-block;
  opacity: 0;
  transform: translateX(160px);
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* animation for Study word */

.offset2 {
  display: inline-block;
  opacity: 0;
  transform: translateX(-160px);
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.offset3 {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeSidebar 2s forwards;
}

@keyframes fadeSidebar {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.7;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}