/* animation for introduction letters*/

.navbar-container {
  background-image: url('../header-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.footer-container {
  background-image: url('../footer-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(20px);
  animation: fadeInOut 1s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* animation for Case word */

.offset {
  display: inline-block;
  opacity: 0;
  transform: translateX(160px);
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* animation for Study word */

.offset2 {
  display: inline-block;
  opacity: 0;
  transform: translateX(-160px);
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.offset3 {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeSidebar 2s forwards;
}

@keyframes fadeSidebar {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.7;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animation for email-jumping */

.jump-email {
  max-width: 1440px;
  margin: 50px auto 90px auto;
  text-align: center;
  font-size: 110px;
  font-weight: 500;
  color: #181818;
}

.jump-email span {
  position: relative;
  left: -22px;
  display: inline-block;
  padding: 20px 20px 5px 20px;
  text-transform: uppercase;
  letter-spacing: -40px;
}

.jump-email-first,
.jump-email-second {
  border-bottom: 10px solid #d9d9d9;
}

.bouncing-letter {
  font-size: 110px;
  font-weight: 500;
  display: inline-block;
  animation: bounce 2s infinite ease-in-out;
  letter-spacing: -40px;
}

@keyframes bounce {
  0% {
    transform: scaleY(1); 
  }
  30% {
    transform: scaleY(0.3);
  }
  50% {
    transform: translateY(-150px);
  }
  70% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(0);
  }
}

.appearance {
  display: inline-block;
  opacity: 0;
  transform: translateY(70px);
  animation: fadeAnimation 1.5s forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
