.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 6rem;
}

.title-menu h2 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.overlay.active .title-menu h2,
.overlay.active .overlay-content {
  transform: translateY(0);
  opacity: 1;
}

.overlay-content {
  display: flex;
  gap: 2rem;
  transform: translateY(30%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  flex-wrap: wrap;
  justify-content: center;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn,
.overlay .closebtn-one {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px;
  transition: 0.6s ease;
}

.closebtn:hover,
.closebtn-one:hover {
  transition: 0.6s ease;
  color: #f70354 !important;
}

.img-project {
  position: relative;
  width: 350px;
  height: 250px;
  overflow: hidden;
  box-shadow: 1px 1px 8px magenta;
  border-radius: 16px;
}

.img-project img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  transition: transform 1s ease;
}

.img-project .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.img-project .image-overlay span {
  color: white;
  font-size: 20px;
  text-align: center;
}

.img-project:hover img {
  transform: scale(1.3);
}

.img-project:hover .image-overlay {
  opacity: 1;
}

.modal {
  display: block;
  width: 75%;
  height: 0;
  z-index: 3;
  background-color: black;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 1.2s;
}

.first-modal {
  display: block;
  width: 75%;
  height: 0;
  z-index: 3;
  background-color: white;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.shadow-modal {
  display: block;
  width: 100%;
  height: 0;
  z-index: 2;
  background-color: rgba(181, 178, 178, 0.5);
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
}

.burger-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.burger-navbar a {
  color: #f70354;
  text-decoration: none;
  font-size: 2rem;
}

.closebtn,
.closebtn-one {
  color: white !important;
  font-size: 4rem !important;
  position: absolute;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
}

/*-----------------*/

.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal1-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  justify-content: center;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.check-box {
  padding: 15px 0;
}

.check {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #63e6be;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.check i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close1 {
  position: absolute;
  color: black;
  top: 3px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal1-header {
  padding: 20px 16px;
  background-color: #f70354;
}

.modal1-header h2 {
  font-family: 'Space Grotesk', system-ui;
  text-align: center;
  color: white;
}

.modal1-body {
  padding: 40px 16px;
  text-align: center;
  line-height: 2rem;
}

.modal1-footer {
  padding: 20px 16px;
  background-color: #f70354;
  color: white;
}

.modal1-footer h3 {
  font-family: 'Space Grotesk', system-ui;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1280px) {
  .modal1-content {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .modal1-content {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .modal1-content {
    width: 95%;
  }
}
